<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>arrowBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,1009},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,6},{8,12}}</string>
				<key>sourceSize</key>
				<string>{12,24}</string>
			</dict>

			<key>arrowBtn_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,1009},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,6},{8,12}}</string>
				<key>sourceSize</key>
				<string>{12,24}</string>
			</dict>

			<key>backBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,590},{88,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,19}}</string>
				<key>sourceSize</key>
				<string>{88,19}</string>
			</dict>

			<key>backBtn_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,550},{88,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,19}}</string>
				<key>sourceSize</key>
				<string>{88,19}</string>
			</dict>

			<key>brick_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,870},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,16}}</string>
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>

			<key>brick_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,904},{8,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,0},{8,16}}</string>
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>

			<key>brick_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1009},{16,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,8},{16,8}}</string>
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>

			<key>brick_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,887},{8,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,16}}</string>
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>

			<key>brick_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{17,1009},{16,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,8}}</string>
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>

			<key>bullet.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,808},{8,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,6}}</string>
				<key>sourceSize</key>
				<string>{8,6}</string>
			</dict>

			<key>editBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,513},{325,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{325,36}}</string>
				<key>sourceSize</key>
				<string>{325,36}</string>
			</dict>

			<key>explosion_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,657},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{22,22}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>explosion_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,816},{30,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{30,28}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>explosion_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,783},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>explosion_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,695},{64,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{64,58}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>explosion_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,630},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>flag_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,754},{32,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{32,28}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>flag_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,845},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{28,28}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>grass_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,731},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,16}}</string>
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>

			<key>ice_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,714},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,16}}</string>
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>

			<key>playBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,610},{88,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,19}}</string>
				<key>sourceSize</key>
				<string>{88,19}</string>
			</dict>

			<key>playBtn_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,570},{88,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,19}}</string>
				<key>sourceSize</key>
				<string>{88,19}</string>
			</dict>

			<key>steel_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,697},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,16}}</string>
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>

			<key>tank_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,808},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,843},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,630},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,781},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,754},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,781},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,901},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,980},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_green_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,953},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_green_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,926},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_green_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,899},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_green_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,872},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_green_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,874},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_green_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,754},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_green_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,816},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_green_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,845},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_white_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,982},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_white_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,955},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_white_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,928},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_white_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,901},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_white_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,874},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_white_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,982},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_white_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,955},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_white_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,928},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>waiting_scene_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>

			<key>water_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,1007},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,16}}</string>
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>

			<key>water_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,680},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,16}}</string>
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>

			<key>water_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,1007},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,16}}</string>
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>spritesheet.png</string>
			</dict>
		</dict>
</plist>