<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>brick_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,124},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>brick_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,189},{16,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,0},{16,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>brick_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,186},{32,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,16},{32,16}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>brick_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,189},{16,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>brick_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,186},{32,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,16}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>brick_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,135},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,16}}</string>
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>

			<key>brick_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,189},{8,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,0},{8,16}}</string>
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>

			<key>brick_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,242},{16,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,8},{16,8}}</string>
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>

			<key>brick_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,238},{8,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,16}}</string>
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>

			<key>brick_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,242},{16,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,8}}</string>
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>

			<key>bullet.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,242},{8,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,6}}</string>
				<key>sourceSize</key>
				<string>{8,6}</string>
			</dict>

			<key>explosion_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,108},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{22,22}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>explosion_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,157},{30,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{30,28}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>explosion_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,124},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>explosion_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,65},{64,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{64,58}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>explosion_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>flag_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,157},{32,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{32,28}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>flag_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,186},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{28,28}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>steel_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,203},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>steel_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,222},{16,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,0},{16,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>steel_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,236},{32,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,16},{32,16}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>steel_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,222},{16,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>steel_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,236},{32,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,16}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>steel_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,162},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,16}}</string>
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>

			<key>tank_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,27},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,81},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,211},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,54},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,0},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,135},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,162},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,135},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_green_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,108},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_green_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,81},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_green_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,54},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_green_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,27},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_green_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,0},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_green_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,215},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_green_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,184},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_green_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,213},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_white_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,108},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_white_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,81},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_white_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,54},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_white_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,27},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_white_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,0},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_white_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,157},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_white_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,186},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_white_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,215},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>spritesheet.png</string>
			</dict>
		</dict>
</plist>