<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bullet.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,116},{8,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,6}}</string>
				<key>sourceSize</key>
				<string>{8,6}</string>
			</dict>

			<key>explosion_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,27},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{22,22}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>explosion_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,33},{30,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{30,28}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>explosion_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,0},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>explosion_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{64,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{64,58}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>explosion_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,59},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>tank_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,33},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,89},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,87},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,60},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,0},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,62},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,89},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,62},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,128}</string>
			<key>textureFileName</key>
			<string>spritesheet.png</string>
			</dict>
		</dict>
</plist>