<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tank_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,27},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,0},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,27},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,0},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,27},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,0},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,27},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>tank_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,64}</string>
			<key>textureFileName</key>
			<string>yellow_tank.png</string>
			</dict>
		</dict>
</plist>